.earth{
    position: absolute;
    width: 40px;
    height: 40px;
}

.introtext{
    position: relative;
    left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}   

.github{
    position: absolute;
    left: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.twitter{
    position: absolute;
    left: 1000px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
