* {
    box-sizing: border-box;
    text-decoration: none;
}

body { 
    background-color: rgb(40, 40, 40);
}

.earth{
    position: absolute;
    width: 40px;
    height: 40px;
}


.fa-twitter {
    font-size: 100px;
}

.fa-github {
    font-size: 100px;
}

.introtext{
    position: relative;
    margin-left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
} 

.introtext h1 {
    color: white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.rounded{
    border: 2px solid gray;
    border-radius: 5px;
}

.links ul {
    list-style-type: none;
}

.links ul li a {
    color: rgb(255, 255, 255);
}
